* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

/* Container for progress steps and progress bar */
.progress-and-steps {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative; 
}

/* Progress bar container */
.progress-bar {
    width: 5px;
    height: 325px;
    background-color: #ccc;
    position: relative; 
    z-index: 1; 
}

.progress-bar-fill {
    position: absolute;
    width: 100%;
    background-color: #007bff;
    top: 0;
    transition: height 2s ease-in-out;
    z-index: 0; 
}

.progress-bubbles {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 39px;
    position: absolute;
    top: 0;
    left: -5px;  
    z-index: 2;
}

.bubble {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
}

/* Order status steps */
.progress-steps {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #999;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

/* Order details container */
.order-details {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

#goToShoppingButton {
    width: auto;
    height: 40px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    font-size: large;
  }
  
  #goToShoppingButton:hover {
    border: 1px solid rgb(62, 62, 165);
    background-color: rgb(141, 141, 221);
  }

.price-container {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Price details */
.price-container p {
    font-size: 20px;
    margin: 5px 0;
}

.price-container span {
    font-weight: bold;
    color: #333;
    margin-left: 5px;
}

/* Highlight progress bar and bubbles */
.progress-bar.active {
    background-color: #007bff;
}
.progress-bubbles li.bubble.active {
    background-color: #007bff;
}
